name: CI

on: [push, pull_request]

jobs:
  linux:
    name: "Linux"
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Build and test
        run: |
           ./autogen.sh
           mkdir build
           ./configure  --enable-benchmark --enable-coverage --enable-experimental --enable-module-ecdh --enable-module-recovery --enable-module-generator --enable-module-commitment --enable-module-rangeproof --enable-module-bulletproof --enable-module-whitelist
           make all
           ./tests
           ./exhaustive_tests
           ./bench_ecdh
           ./bench_ecmult
           ./bench_generator
           ./bench_internal
           ./bench_rangeproof
           ./bench_recover
           ./bench_sign
           ./bench_verify
           ./bench_whitelist